"*":
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "language-gfm"
      "linter-pylama"
      "linter-pycodestyle"
      "linter-flake8"
    ]
    projectHome: "/Users/eltanawy/"
    reopenProjectMenuCount: 5
    telemetryConsent: "no"
    themes: [
      "atom-light-ui"
      "one-dark-syntax"
    ]
  editor:
    fontSize: 12
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "6e913096-91d7-4f3e-ab51-6c2f4585cd82"
  linter: {}
  "linter-python":
    enableDebug: true
    executablePath: "/Users/eltanawy/anaconda3/lib/python3.6/site-packages/pylama"
    force: true
    lintTrigger: "File saved or modified"
    withMcCabe: true
    withPep257: true
    withPep8: true
    withPyflakes: true
    withPylint: true
  "linter-ui-default":
    panelHeight: 300
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "tool-bar":
    visible: false
  welcome:
    showOnStartup: false
".console.python.text":
  editor:
    softWrapHangingIndent: 2
".erb.html.text":
  editor:
    softWrapHangingIndent: 2
".gemfile.ruby.source":
  editor:
    softWrapHangingIndent: 2
".html.ruby.text":
  editor:
    softWrapHangingIndent: 2
".js.rails.source source.jquery.js":
  editor:
    softWrapHangingIndent: 2
".python.regexp.source":
  editor:
    softWrapHangingIndent: 2
".python.source":
  editor:
    softWrapHangingIndent: 2
".python.text.traceback":
  editor:
    softWrapHangingIndent: 2
".rails.rjs.ruby.source":
  editor:
    softWrapHangingIndent: 2
".rails.ruby.source":
  editor:
    softWrapHangingIndent: 2
".ruby.source":
  editor:
    softWrapHangingIndent: 2
".ruby.source.sql":
  editor:
    softWrapHangingIndent: 2
