"*":
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "language-gfm"
    ]
    projectHome: "/Users/eltanawy/"
    reopenProjectMenuCount: 5
    telemetryConsent: "no"
    themes: [
      "atom-light-ui"
      "one-dark-syntax"
    ]
  editor:
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "6e913096-91d7-4f3e-ab51-6c2f4585cd82"
  "git-plus":
    commits:
      verboseCommits: true
    general:
      gitPath: "/usr/local/bin/git"
      splitPane: "Right"
    remoteInteractions:
      pullRebase: true
  linter: {}
  "linter-python":
    enableDebug: true
    executablePath: "/Users/eltanawy/anaconda3/lib/python3.6/site-packages/pylama"
    force: true
    lintTrigger: "File saved or modified"
    withMcCabe: true
    withPep257: true
    withPep8: true
    withPyflakes: true
    withPylint: true
  "linter-ui-default":
    panelHeight: 300
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#0e1dcd"
        magenta: "#cb00cd"
      zBright:
        brightBlue: "#4d9cff"
        brightMagenta: "#ce42ff"
    core: {}
    iconColors:
      orange: "#ff760b"
    style:
      theme: "one-dark"
    toggles:
      autoClose: true
      cursorBlink: false
  "tool-bar":
    visible: false
  welcome:
    showOnStartup: false
".erb.html.text":
  editor:
    softWrapHangingIndent: 2
".gemfile.ruby.source":
  editor:
    softWrapHangingIndent: 2
".html.ruby.text":
  editor:
    softWrapHangingIndent: 2
".js.rails.source source.jquery.js":
  editor:
    softWrapHangingIndent: 2
".python.source":
  editor:
    autoIndentOnPaste: true
".rails.rjs.ruby.source":
  editor:
    softWrapHangingIndent: 2
".rails.ruby.source":
  editor:
    softWrapHangingIndent: 2
".ruby.source":
  editor:
    softWrapHangingIndent: 2
".ruby.source.sql":
  editor:
    softWrapHangingIndent: 2
